/**
 * Created by Martin Neundorfer on 10.01.2019.
 * For LABOR.digital
 */
=flexCenterH()
  display: flex
  justify-content: center

=flexCenterV()
  display: flex
  align-items: center

=flexCenter()
  +flexCenterH
  +flexCenterV