/**
 * Created by Martin Neundorfer on 10.01.2019.
 * For LABOR.digital
 */
=st($spacerType: 1)
  @if length($sassySpacerMultipliers) < $spacerType
    margin-top: #{$spacerType * 3 * $sassySpacerBase}
  @else
    margin-top: nth($sassySpacerMultipliers, $spacerType) * $sassySpacerBase

=sb($spacerType: 1)
  @if length($sassySpacerMultipliers) < $spacerType
    margin-bottom: #{$spacerType * 3 * $sassySpacerBase}
  @else
    margin-bottom: nth($sassySpacerMultipliers, $spacerType) * $sassySpacerBase